.bold {
    font-weight: bold;
}

.self-center {
    align-self: center;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-header {
    margin-bottom: 30px;
}