

:root {
/* Colors */
 --gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
 --bg-color: #343d4b;
 --bg-color--card: #222831;
 --main-text-color: #ffffff;
 --main-border-radius: 25px;
 --secondary-border-radius: 15px;

  --darkBlue: #1d71f2;
 --blue: #1c9cf6;
 --lightBlue: #19c3fb;
 --bubbles: #e3f4fe;
 --white: #fffae0;
 --yellow: #ffcd00;

/* Breakpoints */
--mobile-breakpoint: 600px;
--tablet-breakpoint: 768px;
--normal-breakpoint: 1200px;
--wide-breakpoint: 1600px;
}
