.city-container {
    display: flex;
    position: relative;
    border-radius: var(--main-border-radius);
    -webkit-box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 24px 7px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-color--card);
    color: var(--main-text-color);
    width: 675px;
    min-height: 300px;
    margin-bottom: 50px;
}

.card {
    border-radius: var(--main-border-radius);
}

.city-left-col {
    flex: 3;
}

.city-right-col {
    flex: 7;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 0;
    justify-content: space-between;
    gap: 10px;
}

#add-to-favorite-btn {
    left: 60%;
    top: -2%;
    position: absolute;
    font-size: 3rem;
    cursor: pointer;
    z-index: 15;
}

@media only screen and (max-width: 700px) {
    .cities-container {
        grid-template-columns: auto;
    }

    .city-container {
        flex-direction: column;
        width: auto;
    }
}

@media only screen and (max-width: 500px) {}