.app-header {
    background: #546e97;
    font-family: var(--reg-font);
    margin-bottom: 30px;
    position: relative;
}

.header-container {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

}

.toggle-btns {
    display: flex;
    gap: 25px;
    align-items: center;
}

#header-toggle-btn {
    background-color: white;
    color: black;
}

#nav-btn {
    color: var(--main-text-color);
    border: 1px solid var(--bubbles);
    text-transform: capitalize;
}

.nav-active #nav-btn {
    color: black;
    border: 2px solid black;
}

.logo {
    color: var(--main-text-color);
}

nav a:not(:last-child) {
    margin-right: 20px;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 840px) {
    .hamburger {
        display: inline-block;

    }

    .nav-btns {
        display: none;
    }

    .nav-btns-small-screen {
        position: absolute;
        padding: 40px 0 40px;
        display: flex;
        width: 100%;
        left: 0%;
        top: 100%;
        background: linear-gradient(180deg, rgba(58, 81, 118, 1) 20%, rgb(16 31 76) 100%);
        transition: 0.5s ease;
        flex-direction: column;
        z-index: 20;
        align-items: center;
        gap: 15px;
    }

    nav a:not(:last-child) {
        margin: 0;
    }
}

@media only screen and (max-width: 400px) {

    .toggle-btns {
        flex-direction: column;
    }
}